<div class="container-fluid">
  <div class="row dashboard">
      <div class="col-md-3">
          <div class="dashboard-modules">
              <a class="module-title" (click)="tms()">TMS</a>
              <div class="view-info" (click)="tms()">View Info</div>
              <div class="icon icon-mb-terminal"></div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="dashboard-modules">
              <a class="module-title" (click)="adbook()">AD BOOK</a>
              <div class="view-info" (click)="adbook()">View Info</div>
              <div class="icon icon-mb-adbook"></div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="dashboard-modules">
              <a class="module-title" (click)="ad()">AD'S</a>
              <div class="view-info" (click)="ad()">View Info</div>
              <div class="icon icon-mb-ad"></div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="dashboard-modules">
              <a class="module-title" (click)="epg()">EPG</a>
              <div class="view-info" (click)="epg()">View Info</div>
              <div class="icon icon-mb-tv"></div>
          </div>
      </div>
  </div>
</div>